@import "tailwindcss";
   @import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Edu+VIC+WA+NT+Beginner:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


   body{
     font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
   }

input, textarea, select{
    @apply border border-gray-200 rounded-md p-2 w-full;
    /* @apply shadow-sm; */
    @apply mb-2; 
}

input:focus, textarea:focus{
    @apply  border-blue-900; 
}

h1{
    @apply text-gray-800 mb-4 text-sm sm:text-xl ;
}
 label{
    @apply text-gray-600  text-sm;

 }
.btn-primary{
    @apply bg-blue-900 text-white px-4 py-1 rounded-sm;
}

table.basic{
    @apply min-w-full bg-white rounded-md shadow-md border-separate sm:w-auto border-spacing-0 border-none ;
}
table.basic thead tr th,
table.basic thead tr td
{ 
    @apply text-xs text-gray-600 uppercase px-4 py-2 ;

}
table.basic thead tr th{
    @apply border-0 border-b border-gray-300 text-left;
}
table.basic tr td{
    @apply px-4 py-1 text-xs sm:text-sm md:text-base border-none;

}
table.basic a {
    @apply bg-gray-700 text-white text-sm p-1 px-2 rounded-md inline-flex gap-1  ;
}
button {
    @apply cursor-pointer;
}
.text-primary{
     color: #5542F6;
}
.bgGray{
    background-color: #fbfafd;
}
.highlight{
    background-color: #eae8fb;
}
html, body{
    @apply overflow-x-hidden;
}
